$color-white: #fff;
$color-black: #212121;

$color-lighter-grey: #E0E0E0;
$color-light-grey:   #BDBDBD;
// $color-medium-grey:  #777;

$color-blue:   #0D47A1;
// $color-green:  #5b5;
// $color-red:    #d54;
$color-purple: #8E24AA;