.inline-modal {
  border: 1px solid $color-light-grey;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: .5rem;

  &__actions {
    line-height: 1.5;

    @media (min-width: 40rem) {
      line-height: 1;
    }
  }
}

.response {
  color: $color-green;
  font-size: .75rem;

  &--failed {
    color: $color-red;
  }
}
