* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, p {
  color: $color-black;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p:last-of-type {
  margin-bottom: 0;
}
