.button {
  background-color: $color-white;
  border: none;
  cursor: pointer;
  color: $color-blue;
  font-size: 1rem;
  padding: 4px 6px;
  white-space: nowrap;

  &--small {
    font-size: .8rem;
    font-weight: normal;
    text-decoration: none;
  }
}
